<!-- <div class="wrapper"> -->

<!-- <div class="game"> -->

<div class="game-container" [class.mistake]="mistakeMode" [class.combo]="fireMode"
    [@comboBorderPulse]="fireMode? comboEventTargetState:false" (@comboBorderPulse.done)="onComboPulseEventEnds($event)">

    <counter [score]='result.score' [timeCounter]="timeCounter" [fireMode]="fireMode"
        [axeTouchedSubject]="axeTouchedSubject" class="counter">
        <!-- (@comboBorderPulse.done)="onAnimationBottomEventEnds($event)" -->
    </counter>
    <!-- [comboCounter]="comboCounter" -->

    <div class="plate">

        <!-- ATTENTION : on place le template iconRef hors du plate_wrapper pour ne pas détecter les clicks sur plate_wrapper lorsque l'icon est cliqué (les icons sont positionnés de manière absolute de toute façon) -->
        <ng-template #iconRef></ng-template> <!-- impossible : (touched)="onIconTouched()"-->

        <div class="plate__wrapper" (click)="restartCombo()"></div>
    </div>

    <div class="countdown" [ngStyle]="{display:displayCountdown? 'flex' : 'none'}">
        <span>{{countdown}}</span>
    </div>

</div>

<!-- </div> -->
<!-- </div> -->