<div class="tree-container">
    <div class="wrapper">

        <div class="game">
            <!-- Mettre un second router outlet ici -->

            <!-- SETUP COMPONENT -->
            <setup (submitted)="beginGame($event)" [ngStyle]="{display:display==='setup'? 'flex' : 'none'}"></setup>

            <!-- PLATE COMPONENT -->
            <counter [score]='result.score' [timeCounter]="timeCounter" [ngStyle]="{display:(display==='plate')||(display==='countdown')? 'flex' : 'none'}"></counter>
            <div class="plate" [ngStyle]="{display:(display==='plate')||(display==='countdown')? 'flex' : 'none'}">
                <div class="plate__wrapper">
                    <!-- <tree-icon (touched)="onIconTouched()"></tree-icon> -->
                    <ng-template #iconRef></ng-template> <!-- impossible : (touched)="onIconTouched()"-->
                </div>
            </div>
            <div class="countdown" [ngStyle]="{display:(display==='countdown')? 'flex' : 'none'}">
                <span>{{countdown}}</span>
            </div>

            <!-- RESULT COMPONENT -->
            <result [result]='result' [leaderboard]="leaderboard" (replay)="playAgain()" [ngStyle]="{display:display==='result'? 'flex' : 'none'}"></result>

        </div>

        <!-- <div class="nav">
            <nav-bar></nav-bar>
        </div> -->

    </div>
</div>