<div class="setup">
    <!-- <div class="wrapper"> -->
    <div>
        <h1>Explications du jeu</h1>
        <p>Le but initial de ce jeu est de pouvoir faire une bonne action tout en jouant et en te mesurant à tes amis
        </p>
        <p>Tu devras réussir à clicker sur les arbres qui vont apparaitre le plus rapidement possible</p>
        <!--afin de pouvoir rester en vie-->
        <p>Pour le moment, tout n'est pas encore fonctionnel mais nous espérons que bientôt, les clicks récultés
            serviront à planter des arbres avec Écosia</p>
        <p>Bon jeu et bonne chance !</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">


        <label>
            <h1>Select Difficulty</h1>
            <setup-type formControlName="type"></setup-type>
        </label>

        <div class="action">
            <button type="submit">PLAY</button>
        </div>
        <!-- {{form.value | json}} -->

    </form>
    <!-- </div> -->
    <!-- <progress id="file" max="100" [value]="counter"></progress>

    <button type="button" (click)="upBar()">+</button>
    <button type="button" (click)="downBar()">-</button>-->
<!-- <mat-progress-bar [value]="counter"></mat-progress-bar>  -->

</div>