// :host ::ng-deep {
  .counter {
    padding: 15px;
    background-color: lightgreen;
    // height:100%
    // margin-bottom: 100px;

    text-align: center;
    color: white;
    font-weight: bold;

  border: 1px solid #c1cedb;

  }
// }
