:host ::ng-deep {
  position: relative; // IMPORTANT : cette propriété permet de permet lees composants child de manière ABSOLUTE par rapport au composant parent
}
.tree-icon__container {
  background: white;
  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: 2px solid green;
  // box-shadow: 0 3px 4px green;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);

  position: absolute;
  &:hover {
    opacity: 0.7;
  }

  cursor: pointer;

  .tree-icon {
    &.one {
      background: url(../../../../assets/tree-icon-1.png) no-repeat;
      background-size: contain;
      width: 90%;
      height: 90%;
    }
    &.two {
      background: url(../../../../assets/tree-icon-2.png) no-repeat;
      background-size: contain;
      width: 90%;
      height: 90%;
    }
    &.three {
      background: url(../../../../assets/tree-icon-3.png) no-repeat;
      background-size: contain;
      width: 90%;
      height: 90%;
    }
    //centrer dans le cercle
    margin: 9px;
    margin-top: 2px;
  }
}
